.header {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 2rem;
  h1 {
    font-size: 4.6rem;
    color: #cec8c6;
    margin-bottom: 10px;
    text-align: center;
  }

  p {
    color: #63727d;
    font-size: 2rem;
  }
}
