.users-list {
  display: grid;

  grid-template-columns: repeat(4, 1fr);

  grid-auto-rows: auto;

  grid-gap: 1rem;
  width: 100%;
  margin-top: 20px;

  padding: 0 4.6rem;

  @media (min-width: 1500px) {
    grid-template-columns: repeat(5, 1fr);
  }
  @media (max-width: 852px) {
    grid-template-columns: repeat(3, 1fr);
  }
  @media (max-width: 556px) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media (max-width: 385px) {
    grid-template-columns: repeat(1, 1fr);
  }
}
